<!DOCTYPE html>
<html lang="en">
<head>
<title>背井离乡 meaning - Chinese-English Dictionary</title>
<meta charset="utf-8">
<meta name="keywords" content="背井离乡 meaning,背井离乡 explanation,背井离乡 pinyin"><meta name="description" content="背井离乡/背井離鄉 [Pinyin] bèi jǐng lí xiāng [English meaning] to leave one&#39;s native place, esp. against one&#39;s will (idiom) [Synonym] 远离,离家,离京 [Antonym] 安土重迁"><meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="paket" content="1.2" integrity="sha1-I07eiPabN8SHDZMsdG7d-5b1whOWE5Yx">
<meta name="theme-color" content="#2d3e50">
<meta name="msapplication-TileColor" content="#da532c">
<link rel="dns-prefetch" href="//cdn.omgchinese.com/" /><link rel="canonical" href="https://www.omgchinese.com/dictionary/chinese/%E8%83%8C%E4%BA%95%E7%A6%BB%E4%B9%A1" /><link rel="shortcut icon" href="https://cdn.omgchinese.com/dist/img/favicon/favicon.ico" />
<link rel="shortcut icon" sizes="16x16" href="https://cdn.omgchinese.com/dist/img/favicon/16.png" />
<link rel="shortcut icon" sizes="32x32" href="https://cdn.omgchinese.com/dist/img/favicon/32.png" />
<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.omgchinese.com/dist/img/favicon/180.png" />
<link rel="apple-touch-icon" sizes="192x192" href="https://cdn.omgchinese.com/dist/img/favicon/192.png" />
<link rel="apple-touch-icon" sizes="256x256" href="https://cdn.omgchinese.com/dist/img/favicon/256.png" />
<link rel="preload" as="style" href="https://cdn.omgchinese.com/dist/css/app~748942c6.e5917b4d.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.omgchinese.com/dist/css/app~748942c6.e5917b4d.css" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-00CMRYDEQR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-00CMRYDEQR');
</script><script data-ad-client="ca-pub-5858438275403749" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark sb-navbar fixed-top smart-scroll uu-nav-bg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://cdn.omgchinese.com/dist/img/mylogo.png" alt="OMGChinese">
      <span class="ml-1"><b>OMG!</b> 中文</span>
    </a>
    <button class="navbar-toggler collapsed" style="outline:none" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto pt-3 pt-lg-0">

        <li class="nav-item">
          <a class="nav-link b" href="/video/index">Video</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HSK</a>
          <div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn" aria-labelledby="themesDropdown">
            <div class="d-lg-flex flex-row">
              <div class="py-lg-3">
                <a class="dropdown-item font-weight-bold" href="/new-hsk/">New HSK 3.0 (2021)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/new-hsk/band1/vocabulary">HSK 3.0 Band 1</a>
                <a class="dropdown-item" href="/new-hsk/band2/vocabulary">HSK 3.0 Band 2</a>
                <a class="dropdown-item" href="/new-hsk/band3/vocabulary">HSK 3.0 Band 3</a>
                <a class="dropdown-item" href="/new-hsk/band4/vocabulary">HSK 3.0 Band 4</a>
                <a class="dropdown-item" href="/new-hsk/band5/vocabulary">HSK 3.0 Band 5</a>
                <a class="dropdown-item" href="/new-hsk/band6/vocabulary">HSK 3.0 Band 6</a>
                <a class="dropdown-item" href="/new-hsk/band7/vocabulary">HSK 3.0 Band 7,8,9</a>
              </div>
              <div class="py-lg-3">
                <a class="dropdown-item font-weight-bold" href="/hsk/">HSK 2.0 (2012)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/hsk/hsk1/vocabulary">HSK 1</a>
                <a class="dropdown-item" href="/hsk/hsk2/vocabulary">HSK 2</a>
                <a class="dropdown-item" href="/hsk/hsk3/vocabulary">HSK 3</a>
                <a class="dropdown-item" href="/hsk/hsk4/vocabulary">HSK 4</a>
                <a class="dropdown-item" href="/hsk/hsk5/vocabulary">HSK 5</a>
                <a class="dropdown-item" href="/hsk/hsk6/vocabulary">HSK 6</a>
              </div>
            </div>
          </div>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="/vocabulary/">Vocabulary</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
          <div class="dropdown-menu border-0 shadow animate slideIn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/tools/chinese-pinyin-chart">Chinese Pinyin Chart</a>
            <a class="dropdown-item" href="/tools/chinese-to-pinyin-converter">Chinese To Pinyin Converter</a>
            <a class="dropdown-item" href="/tools/chinese-simplified-traditional-converter">Simplified &amp; Traditional Converter</a>
            <a class="dropdown-item" href="/tools/write-english-name-in-chinese">Write English names in Chinese</a>
            <a class="dropdown-item" href="/tools/rmb-number-to-text">RMB number to text</a>
            <div class="dropdown-divider"></div>
            <span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Under Development!" data-container=".sb-navbar">
              <a class="dropdown-item disabled" href="javascript:void(0)">Chinese Name Gender Guesser</a>
            </span>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dictionary/"><i class="fa fa-search"></i> Dictionary</a>
        </li>
      </ul>

      <ul class="navbar-nav pb-3 pb-lg-0">
        <li class="nav-item">
          <!-- <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#jsUnderDevModal">Sing In</a> -->
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="app">
<vue-app inline-template ref="app-page">
<vue-page-dict inline-template skey="背井离乡" sy-type="chn" skeywords="背井离乡|背井離鄉">
  <main>

<div class="uu-gad-panel">
  <div class="container ad-box">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- res-h -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-5858438275403749"
          data-ad-slot="2076382629"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
</div>

<span class="uu-cl-1"></span>
    <section class="uu-box">
      <div class="container ly-mpage1-wrapper uu-dict-post">

        <div class="ly-main">
<div class="card card-sm-border">
  <div class="card-header"><i class="fa fa-language"></i> <span class="fs-m">汉英词典</span></div>

  <div class="card-body">
    <form @submit="submit" method="get" action="/dictionary/" accept-charset="UTF-8">
      <div class="text-center en-title mb-3 b">Chinese-English Dictionary</div>
      <div class="form-group uu-dict-search-card">
        <div class="input-group uu-dict-inputs">

          <input class="form-control form-control-lg" id="wordInput" ref="wordInput" name="q" type="text" autocomplete="off" tabindex="1" lang="zh" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" value="背井离乡" maxlength="25" :placeholder="qTypeText">
          <span class="input-group-append">
            <button class="btn btn-sm btn-light" id="wordInputClean" ref="wordInputClean" type="button">
              <i class="fa fa-times"></i>
            </button>
            <button class="btn btn-md btn-success" type="submit">
              <i class="fa fa-search"></i><span class="d-none d-md-inline"> Search</span>
            </button>
          </span>

        </div>
      </div>
      <div class="form-text text-dark text-center pt-3 d-sm-block">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="qt" id="radio1" value="0" v-model="qType" @click="selectQType(0)">
          <label class="form-check-label" for="radio1">All</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="qt" id="radio2" value="1" v-model="qType" @click="selectQType(1)">
          <label class="form-check-label" for="radio2">汉+Pinyin</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="qt" id="radio3" value="2" v-model="qType" @click="selectQType(2)">
          <label class="form-check-label" for="radio3">汉+Eng</label>
        </div>
      </div>
    </form>
  </div>
</div>
          <div class="card card-sm-border">
            <div class="card-header"><b>MEANING OF</b> 背井离乡 </div>
            <div class="card-body">

              <section class="characters">
                <div class="row">

                  <div class="col-sm-12 uu-sm-pd-0">
                    <div class="pinyin">
                      <a class="query" href="javascript:void(0)" @click="playWordAudio('146IOM5LqV56a75Lmh.mp3')">
                        <pinyin-color pinyin="bèi jǐng lí xiāng"></pinyin-color>
                        <i class="fa fa-volume-down"></i>
                      </a>
                    </div>
                    <div class="hanzi">
                      <div class="zi" lang="zh">
                        背井离乡
 <small>(<a
                            href="/dictionary/chinese/%E8%83%8C%E4%BA%95%E9%9B%A2%E9%84%89" lang="zh">背井離鄉</a>)</small>                      </div>
                      <div>
                        <button class="btn btn-sm btn-light" @click="animateZi()">
                          <i class="fa fa-film"></i>
                          How to write
                        </button>
                      </div>
                      <span class="uu-cl-f1" v-if="animation"></span>
                      <word-writer word="背井离乡" :size="120" :frame="true" v-if="animation">
                      </word-writer>
                      <span class="uu-cl-f1"></span>
                    </div>
                  </div>

                  <!-- <div class="uu-separator">DEFINITION</div> -->
                  <div class="col-sm-12 v">
                    <label class="label-s fs-s">Definition</label>
                    <span class="uu-mslash">to leave one's native place, esp. against one's will (idiom)</span>
                  </div>
                  <span class="uu-cl-f2"></span>
                  <div class="col-sm-12 v"><label class="label-s fs-s">Idiom </label> Leaving home to another place</div>
                  <span class="uu-cl-f2"></span>
                  <div class="col-sm-6 v"><label class="label-s">Usage </label>
                    <rating-star :score="1"></rating-star>
                  </div>

                  <div class="col-sm-12">
                    <label class="label-s">Synonyms</label>
                    <a class="query" href="/dictionary/chinese/%E8%BF%9C%E7%A6%BB" lang="zh">
                      <span class="uu-py-3">远</span><span class="uu-py-2">离</span>
                    </a>
                    <a class="query" href="/dictionary/chinese/%E7%A6%BB%E5%AE%B6" lang="zh">
                      <span class="uu-py-2">离</span><span class="uu-py-1">家</span>
                    </a>
                    <a class="query" href="/dictionary/chinese/%E7%A6%BB%E4%BA%AC" lang="zh">
                      <span class="uu-py-2">离</span><span class="uu-py-1">京</span>
                    </a>
                    <a class="query" href="/dictionary/chinese/%E4%B8%8D%E8%BE%9E%E8%80%8C%E5%88%AB" lang="zh">
                      <span class="uu-py-4">不</span><span class="uu-py-2">辞</span><span class="uu-py-2">而</span><span class="uu-py-2">别</span>
                    </a>
                    <a class="query" href="/dictionary/chinese/%E7%A6%BB%E4%B9%A1" lang="zh">
                      <span class="uu-py-2">离</span><span class="uu-py-1">乡</span>
                    </a>
                    <a class="query" href="/dictionary/chinese/%E7%A6%BB%E4%B9%A1%E8%83%8C%E4%BA%95" lang="zh">
                      <span class="uu-py-2">离</span><span class="uu-py-1">乡</span><span class="uu-py-4">背</span><span class="uu-py-3">井</span>
                    </a>
                  </div>

                  <div class="col-sm-12">
                    <label class="label-s">Antonym</label>
                    <a class="query" href="/dictionary/chinese/%E5%AE%89%E5%9C%9F%E9%87%8D%E8%BF%81" lang="zh">
                      <span class="uu-py-1">安</span><span class="uu-py-3">土</span><span class="uu-py-4">重</span><span class="uu-py-1">迁</span>
                    </a>
                  </div>

                  <div class="col-sm-12 bvs" lang="zh"><label class="label-s">中文释义 </label> <span class="uu-mslash">离开了故乡，在外地生活（多指不得已的）。也说离乡背井。</span></div>

                  <div class="col-sm-12 bvs" lang="zh"><label class="label-s">Characters </label>
                      <span class="mr-1">
                        <a class="query" href="/dictionary/chinese/%E8%83%8C" lang="zh">背</a>
                        bèi/bēi
                      </span>
                      <span class="mr-1">
                        <a class="query" href="/dictionary/chinese/%E4%BA%95" lang="zh">井</a>
                        jǐng
                      </span>
                      <span class="mr-1">
                        <a class="query" href="/dictionary/chinese/%E7%A6%BB" lang="zh">离</a>
                        (<a class="query" href="/dictionary/chinese/%E9%9B%A2" lang="zh">離</a>)
                        lí
                      </span>
                      <span class="mr-1">
                        <a class="query" href="/dictionary/chinese/%E4%B9%A1" lang="zh">乡</a>
                        (<a class="query" href="/dictionary/chinese/%E9%84%89" lang="zh">鄉</a>)
                        xiāng
                      </span>
                  </div>

                  <div class="col-sm-12 text-right mt-4">
                    <sharing-buttons url="https://www.omgchinese.com/dictionary/chinese/%E8%83%8C%E4%BA%95%E7%A6%BB%E4%B9%A1" title="背井离乡 meaning - Chinese-English Dictionary" description="背井离乡/背井離鄉 [Pinyin] bèi jǐng lí xiāng [English meaning] to leave one&#39;s native place, esp. against one&#39;s will (idiom) [Synonym] 远离,离家,离京 [Antonym] 安土重迁" quote="" hashtags=""></sharing-buttons>
                  </div>

                </div>
              </section>

            </div>
          </div>


          <div class="card dn" id="sySentenceBox">
            <section class="sysentence uu-table">
              <table class="table table-striped e1">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" colspan="3"><span class="theader"><b>EXAMPLE SENTENCES</b></span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, idx) in syData" :key="idx" :class="rowClass('sentence', idx, 5)">
                    <td width="15%" class="text-center dict-btns align-middle">
                      <button type="button" class="btn btn-outline-secondary btn-circle" @click="playSentence(item.chinese)">
                        <i class="fa fa-volume-up"></i>
                      </button>
                      <button type="button" class="btn btn-outline-secondary btn-circle" @click="syBox(idx)">
                        <i class="fa fa-cut"></i>
                      </button>
                    </td>
                    <td width="85%" class="align-middle">
                      <p class="jz uu-hightlight" v-html="hightlight(item.chinese)" lang="zh"></p>
                      <p class="jz">{{ item.english }}</p>
                      <sy-box v-if="showSyItem(idx)" :item="item" :onclose="syBox"></sy-box>
                    </td>
                  </tr>
                  <tr v-if="syData.length >= 5">
                    <td colspan="2" class="text-center">
                      <button class="btn btn-md btn-info px-4" @click="rowLoad('sentence')">
                        {{ rowGroups['sentence'] ? ' hide ('+syData.length+' / '+syData.length+')' : ' more (5 / '+syData.length+')' }}
                      </button>
                    </td>
                  </tr>
                  <tr v-if="syNotFound">
                    <td colspan="2" class="text-center">
                      <p class="py-2 fs-m">Sorry, couldn't find anything matching sentences</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>

        </div>

        <div class="ly-side">
          <searched-words-box></searched-words-box>
          <h5 class="mt-3 fs-m b">Subtitled Videos</h5>
          <recommand-videos :max="3"></recommand-videos>
<div class="mt-3 uu-gad">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- res-s -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5858438275403749"
     data-ad-slot="9871112162"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
        </div>

      </div>
    </section>

  </main>
</vue-page-dict>
</vue-app>
</div>
<footer>
  <div class="uu-footer mx-auto">
    <div class="container text-center">
      <div>
        OMGChinese is a Chinese language learning platform.
      </div>
      <div class="foot-links">
        <a href="/about/about_us">About</a> &middot;
        <a href="/about/privacy">Privacy Policy</a> &middot;
        <a href="/about/terms">Terms of Use</a>
      </div>
      <div class="mr-3 pt-3">&#169; 2020 OMGChinese.com 疯狂中文</div>
    </div>
  </div>
</footer>

<div class="modal fade" id="jsUnderDevModal" tabindex="-1" role="dialog" aria-labelledby="jsUnderDevModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jsUnderDevModalLabel">Hi, 亲</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">This feature is under development ᕙ(`▿´)ᕗ</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<audio id="uuAudio"><source src="" type="audio/mpeg"></audio>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.omgchinese.com/dist/js/app~748942c6.3664bdfe.js" defer></script>
<script src="https://cdn.omgchinese.com/dist/js/chunk-vendors~253ae210.e799c55d.js" defer></script>
<script src="https://cdn.omgchinese.com/dist/js/chunk-vendors~4c3ada76.6cd2fda9.js" defer></script>
<script src="https://cdn.omgchinese.com/dist/js/chunk-vendors~7274e1de.c9aaf978.js" defer></script>
<script src="https://cdn.omgchinese.com/dist/js/chunk-vendors~9c5b28f6.1bbcdd00.js" defer></script>
<script src="https://cdn.omgchinese.com/dist/js/chunk-vendors~cde65046.878aa69a.js" defer></script>
<script src="https://cdn.omgchinese.com/dist/js/chunk-vendors~cfbf0a2e.9b16cb94.js" defer></script>
<script src="https://cdn.omgchinese.com/dist/js/runtime.e32281e1.js" defer></script>
<script type="text/javascript">
window.uufe = {};
window.uufe.appResource = "https://cdn.omgchinese.com";
window.uufe.appApiGate  = "https://www.omgchinese.com";
window.uufe.appTTSSvc = "https://tts.omgchinese.com";
</script>
</body>
</html>
